.author {
    display: inline-block;
    font-style: italic;
    vertical-align: middle;
    font-size: 50%;
    width: 45%;
    padding-left: 2%;
}

.buttons {
    display: inline-block;
    text-align: right;
    font-size: 50%;
    width: 45%;
    height: 100%;
    padding: 0;
}

.date {
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    width: 19%
}
.config {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    width: 19%;
}

mat-card {
    padding: 0px;
    background-color: #DCDCDC;
    margin-bottom: 40px;
}

mat-card-header {
    background-color: #FFFACD;
}

mat-card-title {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 48px !important;
    width: 100% !important;
    overflow-wrap: break-word;
}

mat-card-content {
    padding-top: 8px;
    padding-left: 28px;
    font-size: 24px;
    overflow-wrap: break-word;

    background-color: #DCDCDC;
}

mat-card-actions {
    background-color: #DCDCDC;
    margin-left: 0px;
    margin-right: 0px;
}

mat-icon {
    margin-right: 6px;
    margin-bottom: 3px;
    display: inline-flex;
    vertical-align: middle;
}

.mat-card-header-text {
    width: 100%;
}

mat-card-footer {
    margin-left: 0;
    margin-right: 0;
}

.spacer {
    display: inline-block;
    width: 5%;
}

.mat-icon-button {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
}


