<div class="col-md-8 col-md-offset-2">
<h2>Create a new relationship!</h2>
<hr>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="text" placeholder="Relationship Name" [formControl]="nameFC">
            <mat-error *ngIf="nameFC.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-checkbox class="type-checkbox" name="typeCheckbox" disableRipple [formControl]="platonicFC">
            <label class="type-checkbox-label" for="typeCheckbox">This is a <strong>Platonic</strong> relationship</label>
        </mat-checkbox>
    </form>
    <br>
    <button class="btn btn-site-default btn-create-relationship" type="submit" 
        [disabled]="!isCreateValid()" (click)="onSubmit()">Create</button>
</div>