h2 {
    width: 100%;
    text-align: 'center';
}

.edit-btn {
    width: 40%;
}

.close-btn {
    width: 40%;
    float: right;
}

.edit-input {
    width: 100%;
}

.date-form-container {
    display: flex;
    flex-direction: column;
  }
  
.date-form-container > * {
    width: 100%;
}

.autocomplete-options {
    background-color: #eee;
    margin-top: -5%;
    margin-bottom: 5%;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.invite-dialog-container {
    margin: 0 10%;
}

.btn-site-default {
    width: 80%;
    margin: 0 10%;
}