<div class="col-md-8 col-md-offset-2">
    <h2>Invite User to Relationship</h2>
    <hr>
    <button class="btn btn-site-default" (click)="showInviteDialog()">Invite User to Relationship</button>
    <br>
    <h2>Leave Relationship</h2>
    <hr>
    <button class="btn btn-site-default btn-leave-relationship" (click)="openLeaveRelationshipDialog()">Leave Relationship</button>    
    <hr>
    <h2>Members</h2>
    <h4 *ngFor="let member of relationshipMembers"> {{ member.firstname }} {{ member.lastname }} ({{ member.email }})</h4>
    <hr>
    <h2>Pending Invites</h2>
    <div *ngFor="let invite of pendingInvitees">
        <h4>{{invite.firstname}} {{invite.lastname}} ({{invite.email}})</h4>
    </div>
</div>