body {
  padding: 0px;
  font-family:'Quicksand', "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
}

mat-card  {
  font-family: 'Quicksand', sans-serif !important;
}

.mat-button {
  font-family: 'Quicksand', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Quicksand', sans-serif !important;
}
