<mat-card class="date-card">
    <mat-card-header>
        <div class="mat-card-header-text">
            <mat-card-title class="date-card-title"> {{date.title}} </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>event</mat-icon>{{meetingDate}}</p>
        <p><mat-icon>schedule</mat-icon>{{ date.hour }}:{{date.minute}}</p>
        <p><mat-icon>place</mat-icon>{{date.location}}</p>
    </mat-card-content>
    <mat-card-footer>
        <div class="author">
        </div>
        <div class="spacer"></div>
        <div class="buttons">
            <button mat-icon-button (click)="editDate()"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteDate()"><mat-icon>delete</mat-icon></button>
        </div>
    </mat-card-footer>
</mat-card>