<div class="col-md-8 col-md-offset-2 date-form-container">
    <h2 *ngIf="!areEditing()">Create {{dateOrEvent()}}</h2>
    <h2 *ngIf="areEditing()">Edit {{dateOrEvent()}}</h2>
    <hr>
    <mat-form-field>
        <input matInput placeholder="Title" [formControl]="title" required>
        <mat-error *ngIf="title.invalid">{{getTitleErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Location" [formControl]="location" required>
        <mat-error *ngIf="location.invalid">{{getLocationErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-select class="time-select" placeholder="Time" [formControl]="dateTime" required>
            <mat-option *ngFor="let time of possibleTimes" [value]="time">
            {{time}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="dateTime.invalid">{{getTimeErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="dateDatePicker" [formControl]="dateDate">
        <mat-datepicker-toggle matSuffix [for]="dateDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateDatePicker></mat-datepicker>
        <mat-error *ngIf="dateDate.invalid">{{ getDateErrorMessage() }}</mat-error>
    </mat-form-field>
    <br>

    <button *ngIf="!areEditing()" class="btn btn-site-default" type="submit" [disabled]="!isDateValid()" (click)="onSubmitCreate()">Create {{dateOrEvent()}}</button>
    <button *ngIf="areEditing()" class="btn btn-site-default" type="submit" [disabled]="!isDateValid()" (click)="onSubmitEdit()">Edit {{dateOrEvent()}}</button>

    <hr>
</div>