<div class="col-md-8 col-md-offset-2 date-form-container">
    <h2>Change Password</h2>
    <hr>
    <mat-form-field>
        <input matInput placeholder="Old Password" [formControl]="oldPassFC" [type]="'text'" onfocus="this.type='password'" required>
        <mat-error *ngIf="oldPassFC.invalid"> {{getOldPassErrorMessage()}} </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="New Password" [type]="'text'" onfocus="this.type='password'" 
        [formControl]="newPassFC" required>
        <mat-error *ngIf="newPassFC.invalid"> {{getNewPassErrorMessage()}} </mat-error>
    </mat-form-field>
    <mat-form-field>    
        <input matInput placeholder="Confirm New Password" [formControl]="confirmPassFC" 
        [type]="'text'" onfocus="this.type='password'" required>
        <mat-error *ngIf="confirmPassFC.invalid"> {{getConfirmPassErrorMessage()}} </mat-error>
    </mat-form-field>
    <br>
    <button class="btn btn-success" [disabled]="!isPasswordFormValid()" (click)="changePassword()">Submit</button>
    <hr>
</div>