<div [class.own-message]="isMyMessage()" [class.other-message]="!isMyMessage()">
    <mat-card class="message-card">
        <mat-card-header [class.own-card-header]="isMyMessage()" [class.other-card-header]="!isMyMessage()">
            <div class="mat-card-header-text">
                <mat-card-title > {{message.text}} </mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-footer>
            <div class="author">
                {{ firstname }} : {{ timestamp }}
            </div>
            <div class="spacer"></div>
            <div class="buttons">
                <button mat-icon-button *ngIf="isMyMessage()" (click)="openEditDialog()"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button *ngIf="isMyMessage()" (click)="deleteMessage()"><mat-icon>delete</mat-icon></button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>