@media only screen and (max-width: 800px) {
    .message-box {
        display: inline-block;
        width: 75%;
    
    }
    
    .send-btn {
        display: inline-block;
        width: 20%;
    }

}