<div [class.own-message]="isMyMessage()" [class.other-message]="!isMyMessage()">
    <mat-card>
        <mat-card-header [class.own-card-header]="isMyMessage()" [class.other-card-header]="!isMyMessage()">
            <div class="mat-card-header-text">
                <mat-card-title > {{message.text}} </mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-footer>
            <div class="author">
                {{ firstname }} : {{ timestamp }}
            </div>
            <div class="buttons" >
                <button mat-button *ngIf="isMyMessage()" (click)="openEditDialog()">Edit</button>
            </div>
            <div class="buttons" >
                <button mat-button *ngIf="isMyMessage()" (click)="deleteMessage()">Delete</button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>