.dash-nav {
    margin-top : 0 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: aqua !important;
}

a {
    padding: 0px;
}

button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}

.header-logo {
    height: 25px;
    width:auto;
    margin: 0;
    vertical-align: middle;
}

.end-spacer {
    width: 4vw;
}

.header-title {
    margin-left: 4vw;
    width: 15%;
}

.header-title-link {
    text-decoration: none;
    color: #fff;
    
}

.menu-button-div {
    display: inline-block;
}

::ng-deep .mat-form-field{ width:100% !important; }

::ng-deep .mat-input-element{ color: #555 !important; }

::ng-deep .mat-form-field-underline {
    background-color: #555 !important;
}

::ng-deep .mat-form-field-label {
    color: #555 !important;
}

::ng-deep .mat-select-placeholder {
    color: #555 !important;
}

::ng-deep .mat-select-arrow {
    color: #555 !important;
}

::ng-deep .mat-dialog-container {
    max-height: 80vh;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #00cec9;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.mat-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.mat-menu-item {
    background-color: #00cec9;
    text-align: center;
}

.mat-menu-item:hover {
    background-color: #81ecec;
    transition: background-color 0.2s;
}

::ng-deep .mat-menu-content {
    padding: 0 !important;
}