<nav >
    <mat-toolbar style="height:38px; padding: 0px; width: 100%;">
        Relationship Manager
        <span class="spacer"></span>        
        <a [routerLink]="['/dashboard/join']" style="padding: 0px;">
            <button mat-button >Join Relationship</button></a>
        <span class="spacer"></span>
        <a [routerLink]="['/dashboard/create']" style="padding: 0px;">
        <span class="spacer"></span>
            <button mat-button >Create Relationship</button></a>
        <span class="spacer"></span>            
        <a [routerLink]="['/dashboard/mydash/']" style="padding: 0px;">
            <button mat-button >My Dash</button></a>
        <span class="spacer"></span>            
        <a [routerLink]="['/dashboard/profile']" style="padding: 0px;">
            <button mat-button >Profile</button></a>
        <span class="spacer"></span>            
        <a [routerLink]="['/dashboard/feedback']" style="padding: 0px;">
            <button mat-button >Feedback</button></a>
    </mat-toolbar>
</nav>
<router-outlet></router-outlet>