<div class="backdrop" [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="closeInvite()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Who'd you like to invite?</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            type="email"
                            id="email"
                            class="form-control"
                            formControlName="email">
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="!inviteForm.valid">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeInvite()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->