
/*
  SIDENAV
*/
.example-container {
    position: absolute;
    top: 38px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
.example-sidenav {
    display: flex;
    align-items: top;
    justify-content: center;
    background:	#fafafa
}

.collapsed-sidenav-content {
  margin-left: 56px !important;
}


.sidenav-icon {
  color: #00cec9;
  margin-right: 3%;

}

.mat-nav-list {
  padding-top: 5px;
}
.mat-list-item {
  display: flex;
  transition: background-color 0.2s, border 0.2s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; 
}

.mat-list-item:hover {
  background: #81ecec;
  transition: background-color 0.2s, border 0.2s; 
}

.mat-list-item:focus {
  outline: none;
}

.mat-list-item p {
  padding-left: 10%;
  text-align: center;
  margin-bottom: 0;
}

.acitve-nav-list-item {
  background-color: #00cec9 !important;
  color: #fff;
}

.acitve-nav-list-item mat-icon {
  color: #fff;
}

.acitve-nav-list-item:hover {
  background: #81ecec
} 

#norelationships {
  text-align: center;
}


@import "~@angular/material/prebuilt-themes/indigo-pink.css";