<mat-sidenav-container class="example-container">
<mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
    <mat-nav-list>        
            <a mat-list-item [ngClass]="{'acitve-nav-list-item': isCurrentRelationship(relationship)}" (click)="sideNavClicked(relationship)" *ngFor="let relationship of relationships">{{relationship.title}}</a>
    </mat-nav-list>
</mat-sidenav>
    

<mat-sidenav-content>
    <div *ngIf="!userNotInRelationship()">
        <header class="row spacing">
            <nav class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li routerLinkActive="active"><a [routerLink]="['messages']">Messages</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['dates']">Dates</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['chores']">Chores</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['fights']">Fights</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['settings']">Settings</a></li>
                </ul>
            </nav>
        </header>
        <p *ngIf="onMyDashHome()">Welcome to your Dashboard -- click one of the above tabs to get started.</p>
        <br>        
        
    
        <router-outlet></router-outlet>
    </div>
    
    <div *ngIf="userNotInRelationship()" class="col-md-8 col-md-offset-2" id="norelationships">
        <h2>You don't appear to be a member of any relationships.</h2>
        <br>
        <h2>You should create one!</h2>
        <br>
        <button class="btn btn-primary" (click)="navigateToCreateRelationship()">Create!</button>
    </div>
    
    <!--<button (click)="sidenav.toggle()">Toggle</button>-->
</mat-sidenav-content>
</mat-sidenav-container>

