.example-container {
    position: absolute;
    top: 38px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
.example-sidenav {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 200px;
    background: rgba(102,51,153)
  }

.mat-nav-list {
  padding-top: 0px;
}
.mat-list-item {
  display: flex;
  width: 200px;
}

.acitve-nav-list-item {
  background: rgb(255, 255, 0);
}

.acitve-nav-list-item:hover {
  background: rgb(197, 197, 14);
} 

#norelationships {
  text-align: center;
}


@import "~@angular/material/prebuilt-themes/indigo-pink.css";