<!-- <app-relationship-list></app-relationship-list> -->

<mat-sidenav-container class="example-container">
<mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
    <mat-nav-list>        
            <a mat-list-item [ngClass]="{'acitve-nav-list-item': isCurrentRelationship(relationship)}" (click)="sideNavClicked(relationship)" *ngFor="let relationship of relationships">{{relationship.title}}</a>
    </mat-nav-list>
</mat-sidenav>
    

<mat-sidenav-content>
    <header class="row spacing">
        <nav class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active"><a [routerLink]="['messages']" (click)="tabClicked()">Messages</a></li>
                <li routerLinkActive="active"><a [routerLink]="['dates']">Dates</a></li>
                <li routerLinkActive="active"><a [routerLink]="['chores']">Chores</a></li>
                <li routerLinkActive="active"><a [routerLink]="['fights']">Fights</a></li>
                <li routerLinkActive="active"><a [routerLink]="['settings']">Settings</a></li>
            </ul>
        </nav>
    </header>
    <br>        
    
    <router-outlet></router-outlet>        
    
    <button (click)="sidenav.toggle()">Toggle</button>
</mat-sidenav-content>
</mat-sidenav-container>

