header {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('img/hero2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    height: 20vh;
    width: auto;
    float: left;
    margin-left: 4vh;
    margin-top: 10vh;
}

.hero-text-box {
    position: absolute;
    width: 1080px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 0px;
    color: #fff;
    font-size: 400%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.logo-text {
    transform: translate(3%, 175%);
    margin-left: 20px;
}

.sub-text {
    font-size: 280%;
}

.move-down {
    position: absolute;
    width: 100%;

}

.login-field {
    width: 40% !important;
}

.signup-field {
    width: 80% !important;
}

.signup-left {
    width: 50%;
    margin: 0;
    float: left;
}

.signup-right {
    width: 50%;
    margin: 0;
    float: left;
}
h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 280%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;

}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 150px;
    transition: background-color 0.2s, border 0.2s;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 150px;
    transition: background-color 0.2s, border 0.2s;
}


.btn-signup {
    background-color: #00cec9;
    border: 1px solid #00cec9;
    margin-right: 15px;
}

.btn-login {
    border: 1px solid #00cec9; 
    background-color: transparent;   
}

.btn:hover,
.btn:active {
    background-color: #00aca8;
    
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #00aca8;
    border: 1px solid #00aca8;
}

.btn-login:hover,
.btn-login:active {
    border: 1px solid #00aca8;    
}

/* Mat Input Formatting*/
::ng-deep .mat-form-field{ width:50% !important; }

::ng-deep .mat-input-element{ color: #fff !important; }

::ng-deep .mat-form-field-underline {
    background-color: #fff !important;
}

::ng-deep .mat-form-field-label {
    color: #fff !important;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/* Pulsating Buttons */
@-webkit-keyframes pulse {
    from { background-color: #00cec9; -webkit-box-shadow: 0 0 9px #00cec9; }
    50% { background-color: #00aca8; -webkit-box-shadow: 0 0 18px #00aca8; }
    to { background-color: #00cec9; -webkit-box-shadow: 0 0 9px #00cec9; }
}

button.pulse {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}