<div class="chore-filter-dialog-container">
    <h2>Filter Chores</h2>
    <hr>
    <mat-form-field>
        <mat-select placeholder="Assignee" [formControl]="assignedUserId" [(ngModel)]="selectedUser">
            <mat-option *ngFor="let assignedUser of assignedUsers" [value]="assignedUser.userId">
            {{ assignedUser.firstname }} {{assignedUser.lastname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput readonly [min]="getMinimumBeforeDate()" [matDatepicker]="dueDateBeforePicker" placeholder="Due Date Before..." [formControl]="dueDateBefore">
        <mat-datepicker-toggle matSuffix [for]="dueDateBeforePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDateBeforePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput readonly [max]="getMaximumAfterDate()" [matDatepicker]="dueDateAfterPicker" placeholder="Due Date After..." [formControl]="dueDateAfter">
        <mat-datepicker-toggle matSuffix [for]="dueDateAfterPicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDateAfterPicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox class="show-checkbox" name="showCompleted" disableRipple [formControl]="showCompleted">
        <label class="show-checkbox-label" for="showCompleted">Show completed chores?</label>
    </mat-checkbox>
    <br>
    <button class="btn btn-site-default" type="submit" (click)="onSubmitFilter()">Apply</button>
    <hr>
</div>