.btn-create {
    background-color: #00cec9;
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: background-color 0.2s;
}

.btn-create:hover {
    background-color: #00aca8;
}

.icon-create {
    color: #fff;
}

.btn-filter {
    background-color: #00cec9;
    position: fixed;
    top: 10%;
    right: 5%;
    transition: background-color 0.2s;
}

.btn-filter:hover {
    background-color: #00aca8
}

.icon-filter {
    color: #fff;
}