<article class="panel panel-default">
    <div class="panel-body">
        <h1>Title: {{ chore.title }}</h1>
        <h1>Due Date: {{ formattedDueDate }}</h1>
        <h1>Assignee: {{ assignedUser }}</h1>
    </div>
    <div>
        <button class="btn btn-success" (click)="editChore()">Edit</button>
        <button class="btn btn-danger" (click)="deleteChore()">Delete</button>
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ chore.createUserId }}
        </div>
        <div class="config" >
        </div>
    </footer>
</article>