<mat-card class="fight-card">
    <mat-card-header>
        <div class="mat-card-header-text">
            <mat-card-title class="date-card-title"> {{fight.title}} </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button (click)="openDisplayFightDialog()" *ngIf="haveSubmitted()"><mat-icon>whatshot</mat-icon>View Fight</button>
        <button mat-raised-button (click)="openAppendFightDialog()" *ngIf="!haveSubmitted()"><mat-icon>whatshot</mat-icon>Say Your Piece</button>
    </mat-card-content>
    <mat-card-footer>
        <div class="author">
        </div>
        <div class="spacer"></div>
        <div class="buttons">
            <button mat-icon-button (click)="openEditFightDialog()"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteFight()"><mat-icon>delete</mat-icon></button>
        </div>
    </mat-card-footer>
</mat-card>