<article class="panel panel-default">
    <div class="panel-body">
        <h1>Title: {{ fight.title }}</h1>
        <h1>Descriptions: {{ fight.descriptions }}</h1>
        <h1>Causes: {{ fight.causes }}</h1>
        <h1>Resolutions: {{fight.resolutions}} </h1>
        <h1>Date: {{ fight.fightDate }} </h1>
    </div>
    <div>
        <button class="btn btn-success" (click)="editFight()">Edit</button>
        <button class="btn btn-danger" (click)="deleteFight()">Delete</button>
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ fight.createUserId }}
        </div>
        <div class="config" >
        </div>
    </footer>
</article>
<br>