
<button class="btn btn-primary" (click)="openDisplayFightDialog()" *ngIf="!viewingFight"> Fight: {{ fight.title }} </button>
<!--
<button class="btn btn-primary" *ngIf="viewingFight" (click)="closeFight()">Close</button>
<hr *ngIf="viewingFight">
<article *ngIf="viewingFight"class="panel panel-default">
    <div class="panel-body">
        <h1>Title: {{ fight.title }}</h1>
        <h1>Descriptions: {{ description }}</h1>
        <h1>Causes: {{ cause }}</h1>
        <h1>Resolutions: {{ resolution }} </h1>
        <h1>Date: {{ fightDate }} </h1>
    </div>
    <div>
        <button class="btn btn-success" (click)="openEditFightDialog()">Edit</button>
        <button class="btn btn-danger" (click)="deleteFight()">Delete</button>
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ fight.createUserId }}
        </div>
        <div class="config" >
        </div>
    </footer>
</article> -->
<hr>
